PORT=5000
MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@cluster0.xxxxx.mongodb.net/realestatedb?retryWrites=true&w=majority
JWT_SECRET=real_estate_super_secret_jwt_key_2024
JWT_EXPIRE=7d
NODE_ENV=development
